---
layout: base.njk
---

<section>
  <h2>toolbox</h2>
  <ul>
    <li>Python (Django)</li>
    <li>JavaScript (React, Node, Redux, MobX)</li>
    <li>PostgreSQL</li>
    <li>Docker</li>
  </ul>
</section>

<section>
  <h2>where to find me</h2>
  <ol class="links">
    <li class="link-item"><a class="button" href="https://www.linkedin.com/in/ryancroote/">linkedin</a></li>
    <li class="link-item"><a class="button" href="https://gitlab.com/ryancroote">gitlab</a></li>
    <li class="link-item"><a class="button" href="https://github.com/ryancroote/">github</a></li>
  </ol>
</section>
