html {
  font-size: 1px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14rem;
  font-weight: 400;
  color: #333;
}

h1 {
  font-size: 32.0rem;
  font-weight: 900;
}

h2 {
  font-size: 18.0rem;
}

h3 {
  font-size: 16.0rem;
}

h4 {
  font-size: 14.0rem;
}

h5 {
  font-size: 12.0rem;
}

h6 {
  font-size: 10.0rem;
}

p {
  line-height: 1.3em;
  margin-bottom: 8.0rem;
}

p:last-child {
  margin-bottom: 0;
}

hr {
  border: 2.0rem solid #333;
  border-bottom-width: 1.0rem;
  margin: 16.0rem 0;
}
