.btn {
  display: inline-block;
  padding: 4.0rem 8.0rem;
  border: 3.0rem solid #333;
  color: #333;
  transition: background-color 0.5s, color 0.5s;
}

.btn:hover {
  text-decoration: underline;
  color: #fff;
  background-color: #333;
  transition: background-color 0.5s, color 0.5s;
}

.linkedin-btn:hover {
  background-color: #2867B2;
  color: #fff;
}

.gitlab-btn:hover {
  background-color: #e2432a;
  color:#fff;
}