body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14rem;
  font-weight: 400;
  color: #333;
}

h1 {
  font-size: 36.0rem;
  font-weight: 900;
}

h2 {
  font-size: 24.0rem;
  font-weight: 600;
  margin-bottom: 10rem;
}

p {
  line-height: 1.4em;
  margin-bottom: 8.0rem;
}

p:last-child {
  margin-bottom: 0;
}

hr {
  border: 2.0rem solid #333;
  border-bottom-width: 1.0rem;
  margin: 8.0rem 0;
}

.list {
  padding-left: 20.0rem;

  li {
    list-style: square;
  }

}