<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
      {% include "css/main.css" %}
    </style>
    <title>
      {{ metadata.title }}</title>
  </head>
  <body>

    <div class="container">
      <header>
        <h1 class="home"><a href="{{ '/' | url }}">ryan croote</a></h1>
      </header>

      <hr />

      <main>
        {{ content|safe }}
      </main>

      <hr />
      <footer></footer>
    </div>
  </body>
</html>